*
  box-sizing: border-box
  padding: 0
  margin: 0

*::before,
*::after
  box-sizing: inherit

html
  --background-color: #1e1e24
  --background-color-2: #717788
  --background-color-3: #949aac
  --gradient: linear-gradient(-90deg, #7b3e8b 0%, #42a1c2 100%)
  --border-radius: 1.5vh
  color: white
  font-size: 62.5%
  letter-spacing: .25em

body

html,
body
  -webkit-tap-highlight-color: transparent
  max-width: 100vw
  min-height: 100vh
  overflow-x: hidden
  background: linear-gradient(-90deg, #071832 0%, #04172d 100%)
