.main
    padding: 5vh
    display: flex
    flex-direction: column
    align-items: center

.add_button
    position: fixed
    bottom: 15vh
    right: 19vw
    translate: 50% 0
    font-size: calc( 1.2 * var(--font-size-normal) )
    z-index: 10
