@import '../../styles/mixins'

.details
    z-index: 1
    position: relative
    width: 60vw
    @media (orientation: portrait)
        width: 80vw

.card
    display: grid
    grid-template-columns: 35vh 1fr
    grid-template-rows: 35vh 1fr
    padding: 4vh
    gap: 3vh 4vh
    @media (orientation: portrait)
        display: flex
        flex-direction: column

.description
    grid-row: 1
    grid-column: 2
    display: flex
    flex-direction: column
    gap: 2vh

.text
    font-size: calc(.7 * var(--font-size-normal))
    @media (orientation: portrait)
        font-size: calc(.9 * var(--font-size-normal))
        letter-spacing: .15em

.links
    display: flex
    justify-content: center
    align-items: center
    gap: 1vw
    @media (orientation: portrait)
        gap: 5vw
        flex-wrap: wrap

.name
    display: flex
    justify-content: center
    align-items: center
    grid-row: 2
    grid-column: 1
    overflow-x: scroll

.nick
    margin-top: -.2em
    font-size: calc(2 * var(--font-size-normal))
    font-weight: bold
    color: transparent
    background-image: var(--gradient)
    background-clip: text

// .label
//     font-size: calc(1.2* var(--font-size-normal))
//     font-weight: 400
//     z-index: 1
//     color: #559cb8
//     text-transform: uppercase

.button
    grid-row: 3
    font-size: var(--font-size-normal)
    display: flex
    justify-content: center
