@import '../../../styles/mixins'

.wrapper
    width: 30vw
    height: 8vh
    @media (orientation: portrait)
        width: 80vw
        height: 10vh
        gap: 2vw
        padding: 0 2vw

.card
    @include flex-center
    justify-content: flex-start
    padding: 0 1vw
    gap: 1vw
    width: 100%
    height: 100%
    position: relative
    font-size: calc(.7 * var(--font-size-normal))

.name
    color: var(--color-font)
    font-size: var(--font-size-normal)
    margin-right: auto
    user-select: none

.link
    all: unset
